body {
    font-family: Palatino;
    margin: 30px
  }


#button {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
#dButton {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
#form-result {
    background: #ddeaff;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "ul ul ul";
    padding: 1em;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.member-list-item {
    background: #ddeaff;
    list-style-type: none;
    display: flex;
    border-radius: 5%;
    flex-direction: column;
    border-style: solid;
    padding: 10px
}
/* .member-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "form form form form";
    padding: 1em;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
} */